<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="50abb1b4-32ee-4265-aea7-1e4b2c35a9e8" name="10.REFER_OTHER_TEST_STEP" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="50abb1b4-32ee-4265-aea7-1e4b2c35a9e8fileName">10.REFER_OTHER_TEST_STEP</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
