<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c3ddfdfb-f1d9-47b1-a32a-cc8d938841d2" name="09.DATE_FORMATS" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c3ddfdfb-f1d9-47b1-a32a-cc8d938841d2fileName">09.DATE_FORMATS</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
