<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5a808b8c-0647-41d6-bba2-7c8488136888" name="13.INSERT_XML_TO_WSDL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5a808b8c-0647-41d6-bba2-7c8488136888fileName">13.INSERT_XML_TO_WSDL</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
