<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e1cd4a89-a907-4b29-b8af-a5e6643d849c" name="19.OTHER_IMPORTANT_GROOVY" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e1cd4a89-a907-4b29-b8af-a5e6643d849cfileName">19.OTHER_IMPORTANT_GROOVY</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
