<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1cf8867d-456c-40e6-bf69-6358d7130757" name="19.JMS" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1cf8867d-456c-40e6-bf69-6358d7130757fileName">19.JMS</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
