<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="30696e98-2f90-452d-a261-10a5f82fb46d" name="18.OPEN_WEB_BROWSER" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="30696e98-2f90-452d-a261-10a5f82fb46dfileName">18.OPEN_WEB_BROWSER</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
