<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e0519f95-a81c-45f1-a7ce-c0dfb5b10bfe" name="05.LINUX_SERVER_CMD_EXEC" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e0519f95-a81c-45f1-a7ce-c0dfb5b10bfefileName">05.LINUX_SERVER_CMD_EXEC</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
