<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c19a87dd-40be-497f-bb97-8b2d315e83a5" name="01.CREATE_NEW_PROJECT" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c19a87dd-40be-497f-bb97-8b2d315e83a5fileName">01.CREATE_NEW_PROJECT</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
